/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    

}
#GridPane2 {
    
  -fx-background-image: url("wall.jpg") ;
     -fx-background-repeat: no-repeat;
     -fx-background-position:left  ;
     -fx-margin-top: 50px;  
    
}
#chat{
     -fx-border-width: 2;
    -fx-border-color: gray;
    -fx-background-color: gainsboro;
}
#board{
     -fx-border-width: 2;
    -fx-border-color: gray;
}
.label{
    
     -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill:darkslategray;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
   
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}